In [1]:
import pandas as pd

In [2]:
small_table = pd.DataFrame()

In [3]:
small_table

Empty DataFrame
Columns: []
Index: []

In [5]:
num_phrases = 4
small_table['ID'] = [5 for i in range(num_phrases)]
small_table['PID'] = [str(small_table.ID[i])+'-'+str(i) for i in range(num_phrases)]
small_table['text'] = ['some_example_text-'+str(i) for i in range(num_phrases)]

In [7]:
small_table

   ID  PID                 text
0   5  5-0  some_example_text-0
1   5  5-1  some_example_text-1
2   5  5-2  some_example_text-2
3   5  5-3  some_example_text-3

In [8]:
small_tables = [small_table, small_table]
all_data = pd.concat(small_tables)
print(all_data)

   ID  PID                 text
0   5  5-0  some_example_text-0
1   5  5-1  some_example_text-1
2   5  5-2  some_example_text-2
3   5  5-3  some_example_text-3
0   5  5-0  some_example_text-0
1   5  5-1  some_example_text-1
2   5  5-2  some_example_text-2
3   5  5-3  some_example_text-3