In [180]:
import pandas as pd
from operator import itemgetter
import csv
import numpy as np
df = pd.read_csv (r"../data/raw_labelbox_exports/March 11 2020.csv")
df.head()

,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label
0,ck72es2staof70948n7z23o36,ck0zz5ooboqph0bo49atcgdwn,", I had a meeting with my client and with a fe...","{""leadership_spectrum"":""0""}",dnsmith@g.clemson.edu,Career - Fall 2019 All Labels,1582666515000,1582666515000,3.940,539_2,NaN,NaN,NaN,NaN,student_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
1,ck6poodsjfzxj0944mjfvdgw2,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...","{""leadership_spectrum"":""0""}",dnsmith@g.clemson.edu,Career - Fall 2019 All Labels,1581897079000,1583210295000,7.687,1422_2,1.0,NaN,NaN,NaN,student_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
2,ck7bej5vskkh70948o9p5i1vd,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...","{""leadership_spectrum"":""0""}",mkollur@g.clemson.edu,Career - Fall 2019 All Labels,1583210295000,1583210295000,28.993,1422_2,1.0,NaN,NaN,NaN,student_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
3,ck7evk13hqqyc0812km5cvbyo,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...","{""leadership_spectrum"":""0""}",dcottle@g.clemson.edu,Career - Fall 2019 All Labels,1583420287000,1583420287000,6.827,1422_2,NaN,NaN,NaN,NaN,student_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
4,ck18db05fl8jg09445dxa83uw,ck0zz58rhon0w0bo419z9gpyb,"""\n","{""leadership_spectrum"":""0""}",dcottle@g.clemson.edu,Career - Fall 2019 All Labels,1569966142000,1570196700000,3.360,455_4,1.0,NaN,NaN,NaN,mentor_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...

### Using this to get the entries with no consensus

### remove unnecessary data

In [181]:
#df.sort_values(by=["External ID"], inplace=True)
df = df.reset_index() 
for index, row in df.iterrows():
    if row["Dataset Name"] == "mentor_responses_sentences_up_to_f19.csv":
        df.iloc[index, 15] = "Mentor"
    if row["Dataset Name"] == "student_responses_sentences_up_to_f19.csv":
        df.iloc[index, 15] = "Student"
    if row["Label"] == "{\"leadership_spectrum\":\"3\"}":
        df.iloc[index, 4] = "IDK"
    if row["Label"] == "{\"leadership_spectrum\":\"2\"}":
        df.iloc[index,4] = "STC"
    if row["Label"] == "{\"leadership_spectrum\":\"1\"}":
        df.iloc[index, 4] = "TC"
    if row["Label"] == "{\"leadership_spectrum\":\"0\"}":
        df.iloc[index, 4] = "NA"
    if row["Label"] == "{\"leadership_spectrum\":\"4\"}":
        df.iloc[index, 4] = "STF"
    if row["Label"] == "{\"leadership_spectrum\":\"5\"}":
        df.iloc[index, 4] = "TF"
    if row["Created By"] == "dnsmith@g.clemson.edu":
        df.iloc[index, 5] = "b"
    if row["Created By"] == "ajames8@g.clemson.edu":
        df.iloc[index, 5] = "a"
    if row["Created By"] == "dcottle@g.clemson.edu":
        df.iloc[index, 5] = "c"
    if row["Created By"] == "jcrosb3@g.clemson.edu":
        df.iloc[index, 5] = "e"
    if row["Created By"] == "mkollur@g.clemson.edu":
        df.iloc[index, 5] = "d"
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label
0,0,ck72es2staof70948n7z23o36,ck0zz5ooboqph0bo49atcgdwn,", I had a meeting with my client and with a fe...",NA,b,Career - Fall 2019 All Labels,1582666515000,1582666515000,3.940,539_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...
1,1,ck6poodsjfzxj0944mjfvdgw2,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,b,Career - Fall 2019 All Labels,1581897079000,1583210295000,7.687,1422_2,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...
2,2,ck7bej5vskkh70948o9p5i1vd,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,d,Career - Fall 2019 All Labels,1583210295000,1583210295000,28.993,1422_2,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...
3,3,ck7evk13hqqyc0812km5cvbyo,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,c,Career - Fall 2019 All Labels,1583420287000,1583420287000,6.827,1422_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...
4,4,ck18db05fl8jg09445dxa83uw,ck0zz58rhon0w0bo419z9gpyb,"""\n",NA,c,Career - Fall 2019 All Labels,1569966142000,1570196700000,3.360,455_4,1.0,NaN,NaN,NaN,Mentor,[],https://image-segmentation-v4.labelbox.com?pro...

In [182]:
df.groupby("Created By").agg("count")

,index,ID,DataRow ID,Labeled Data,Label,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label
Created By,,,,,,,,,,,,,,,,,
a,971,971,971,971,971,971,971,971,971,971,971,0,0,0,971,971,971
b,2703,2703,2703,2703,2703,2703,2703,2703,2703,2703,2060,0,0,0,2703,2703,2703
c,1803,1803,1803,1803,1803,1803,1803,1803,1803,1803,1613,0,0,0,1803,1803,1803
d,1952,1952,1952,1952,1952,1952,1952,1952,1952,1952,1910,0,0,0,1952,1952,1952
e,162,162,162,162,162,162,162,162,162,162,153,0,0,0,162,162,162

### Assign final labels

In [183]:
#df.sort_values(by=['index'])
df.sort_values(by=['DataRow ID'])


# indices of labels: 0 = NA, 1 = TC, 2 = STC, 3 = IDK, 4= STF, 5 = TF
styles = {
    "IDK" : 0,
    "NA" : 1,
    "STC": 2,
    "STF": 3,
    "TC" : 4,
    "TF":5
}

# labels[0] is the label, label[1] is the count, label[2] is the most authoritative selection
labels = [["IDK", 0, "z"],["NA", 0, "z"],["STC", 0, "z"],["STF", 0, "z"],["TC", 0, "z"],["TF", 0, "z"]] 
next_id = ""
#add column for final label
df["Final Label"] = ""

for i in range(len(df.index)):
    label = df.iloc[i, 4]
    person = df.iloc[i, 5]
    curr_id = df.iloc[i, 2]
    next_id = "" if i >= len(df.index)-1 else df.iloc[i+1, 2]
    agreement = df.iloc[i,11]
    
    
    if label == "Skip" or label == "{}":
        continue
    else:
        labels[styles[label]][1] += 1

    #keeps track of the "lowest" person, to find most authoritative
    if person < labels[styles[label]][2] or labels[styles[label]][2] == "z":
        labels[styles[label]][2] = person
            

    if curr_id != next_id :
        labels.sort(key=itemgetter(1), reverse=True)
        if(labels[0][1] == labels[1][1]):
         
            labels.sort(key = itemgetter(2))

    
        df.iloc[i,18] = labels[0][0]         
    
        for j in labels:
            j[1] = 0
            j[2] = "z"
        #the below works because this whole cell of code depends on the sorting IDK < NA < TC < TF
        labels.sort(key=itemgetter(0))

In [184]:
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label,Final Label
0,0,ck72es2staof70948n7z23o36,ck0zz5ooboqph0bo49atcgdwn,", I had a meeting with my client and with a fe...",NA,b,Career - Fall 2019 All Labels,1582666515000,1582666515000,3.940,539_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
1,1,ck6poodsjfzxj0944mjfvdgw2,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,b,Career - Fall 2019 All Labels,1581897079000,1583210295000,7.687,1422_2,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,
2,2,ck7bej5vskkh70948o9p5i1vd,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,d,Career - Fall 2019 All Labels,1583210295000,1583210295000,28.993,1422_2,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,
3,3,ck7evk13hqqyc0812km5cvbyo,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,c,Career - Fall 2019 All Labels,1583420287000,1583420287000,6.827,1422_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
4,4,ck18db05fl8jg09445dxa83uw,ck0zz58rhon0w0bo419z9gpyb,"""\n",NA,c,Career - Fall 2019 All Labels,1569966142000,1570196700000,3.360,455_4,1.0,NaN,NaN,NaN,Mentor,[],https://image-segmentation-v4.labelbox.com?pro...,

In [185]:
df.loc[:,"Labeled Data"] = df.loc[:,"Labeled Data"].str.replace('"', "")
df["Final Label"].replace("", np.nan, inplace=True)
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label,Final Label
0,0,ck72es2staof70948n7z23o36,ck0zz5ooboqph0bo49atcgdwn,", I had a meeting with my client and with a fe...",NA,b,Career - Fall 2019 All Labels,1582666515000,1582666515000,3.940,539_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
1,1,ck6poodsjfzxj0944mjfvdgw2,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,b,Career - Fall 2019 All Labels,1581897079000,1583210295000,7.687,1422_2,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NaN
2,2,ck7bej5vskkh70948o9p5i1vd,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,d,Career - Fall 2019 All Labels,1583210295000,1583210295000,28.993,1422_2,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NaN
3,3,ck7evk13hqqyc0812km5cvbyo,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,c,Career - Fall 2019 All Labels,1583420287000,1583420287000,6.827,1422_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
4,4,ck18db05fl8jg09445dxa83uw,ck0zz58rhon0w0bo419z9gpyb,\n,NA,c,Career - Fall 2019 All Labels,1569966142000,1570196700000,3.360,455_4,1.0,NaN,NaN,NaN,Mentor,[],https://image-segmentation-v4.labelbox.com?pro...,NaN

In [186]:
df = df.dropna(subset=['Final Label'], axis=0).reset_index(drop=True)
#df = df.drop_duplicates(subset=['DataRow ID'],keep = 'first')
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label,Final Label
0,0,ck72es2staof70948n7z23o36,ck0zz5ooboqph0bo49atcgdwn,", I had a meeting with my client and with a fe...",NA,b,Career - Fall 2019 All Labels,1582666515000,1582666515000,3.940,539_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
1,3,ck7evk13hqqyc0812km5cvbyo,ck0zz5opqos9e0bo431ogczqm,", the graphics interns make the logos and the ...",NA,c,Career - Fall 2019 All Labels,1583420287000,1583420287000,6.827,1422_2,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
2,7,ck1c6knenuqo20944jj5vqci3,ck0zz58rhon0w0bo419z9gpyb,\n,NA,a,Career - Fall 2019 All Labels,1570196700000,1570196700000,2.343,455_4,1.00000,NaN,NaN,NaN,Mentor,[],https://image-segmentation-v4.labelbox.com?pro...,NA
3,11,ck1c559r9ubb00944qeip7mnt,ck0zz58rion1j0bo4et4a578z,"As Ally's career progresses, I have no doubt ...",NA,a,Career - Fall 2019 All Labels,1570194302000,1570194303000,7.381,464_1,0.33333,NaN,NaN,NaN,Mentor,[],https://image-segmentation-v4.labelbox.com?pro...,NA
4,14,ck37bhvwhkioh0811iwtwkxvi,ck0zz5oonor4z0bo40z8n8hpd,Caleb did a lot of the work filming and editi...,NA,d,Career - Fall 2019 All Labels,1574256202000,1574256203000,7.867,793_3,1.00000,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA

In [187]:
df_clean = df.loc[:,['Labeled Data','Final Label', 'Dataset Name']]
df_clean.to_csv(r"../data/data_for_model/March 11 2020.csv", index=False, quoting = csv.QUOTE_NONNUMERIC)

### Trying to make a csv file for the process_for_watson script

In [123]:
df_clean.to_csv(r"../data/data_for_model/labelbox_v2-1_watson.csv", index=False, sep='|')