In [1]:
import pandas as pd
from operator import itemgetter
import csv
import numpy as np
df = pd.read_csv (r"../data/raw_labelbox_exports/fall2020-april20-rawexport.csv")
df.head()

,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label
0,ck18d6trtvxee0a468wskapqf,ck0zz58quomb40bo43bp5bc0g,"""1 - Ability to learn new technology quickly 2...","{""leadership_spectrum"":""0""}",dcottle@g.clemson.edu,Career - Fall 2019 All Labels,1569965947000,1570196613000,9.550,0_0,1.0,-1,NaN,NaN,mentor_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
1,ck18nc7o2oo7j0944wgthijdz,ck0zz58quomb40bo43bp5bc0g,"""1 - Ability to learn new technology quickly 2...","{""leadership_spectrum"":""0""}",dnsmith@g.clemson.edu,Career - Fall 2019 All Labels,1569982995000,1570196613000,5.928,0_0,1.0,-1,NaN,NaN,mentor_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
2,ck18p4z57mwhv0863z7wgkabn,ck0zz58quomb40bo43bp5bc0g,"""1 - Ability to learn new technology quickly 2...","{""leadership_spectrum"":""0""}",mkollur@g.clemson.edu,Career - Fall 2019 All Labels,1569986016000,1570196613000,5.205,0_0,1.0,-1,NaN,NaN,mentor_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
3,ck1c6isc9q65j0794ol1c2fi5,ck0zz58quomb40bo43bp5bc0g,"""1 - Ability to learn new technology quickly 2...","{""leadership_spectrum"":""0""}",ajames8@g.clemson.edu,Career - Fall 2019 All Labels,1570196613000,1570196613000,6.152,0_0,1.0,-1,NaN,NaN,mentor_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...
4,ck1smh34trxe00721kj2w2q00,ck0zz58quomb50bo4d16bfisw,3 - Dependable and ability to work independent...,"{""leadership_spectrum"":""0""}",mkollur@g.clemson.edu,Career - Fall 2019 All Labels,1571190866000,1571936155000,10.098,0_1,1.0,-1,NaN,NaN,mentor_responses_sentences_up_to_f19.csv,[],https://image-segmentation-v4.labelbox.com?pro...

### Replace data function

In [2]:
def replace_data(dataframe):
    df = dataframe
    df = df.reset_index() 
    for index, row in df.iterrows():
        if row["Dataset Name"] == "mentor_responses_sentences_up_to_f19.csv":
            df.iloc[index, 15] = "Mentor"
        if row["Dataset Name"] == "student_responses_sentences_up_to_f19.csv":
            df.iloc[index, 15] = "Student"
        if row["Label"] == "{\"leadership_spectrum\":\"3\"}":
            df.iloc[index, 4] = "IDK"
        if row["Label"] == "{\"leadership_spectrum\":\"2\"}":
            df.iloc[index,4] = "STC"
        if row["Label"] == "{\"leadership_spectrum\":\"1\"}":
            df.iloc[index, 4] = "TC"
        if row["Label"] == "{\"leadership_spectrum\":\"0\"}":
            df.iloc[index, 4] = "NA"
        if row["Label"] == "{\"leadership_spectrum\":\"4\"}":
            df.iloc[index, 4] = "STF"
        if row["Label"] == "{\"leadership_spectrum\":\"5\"}":
            df.iloc[index, 4] = "TF"
        if row["Created By"] == "dnsmith@g.clemson.edu":
            df.iloc[index, 5] = "b"
        if row["Created By"] == "ajames8@g.clemson.edu":
            df.iloc[index, 5] = "a"
        if row["Created By"] == "dcottle@g.clemson.edu":
            df.iloc[index, 5] = "c"
        if row["Created By"] == "jcrosb3@g.clemson.edu":
            df.iloc[index, 5] = "e"
        if row["Created By"] == "mkollur@g.clemson.edu":
            df.iloc[index, 5] = "d"
    return df;

In [3]:
df.groupby("Created By").agg("count")

,ID,DataRow ID,Labeled Data,Label,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label
Created By,,,,,,,,,,,,,,,,
ajames8@g.clemson.edu,971,971,971,971,971,971,971,971,971,971,971,0,0,971,971,971
dcottle@g.clemson.edu,2693,2693,2693,2693,2693,2693,2693,2693,2693,2693,2693,0,0,2693,2693,2693
dnsmith@g.clemson.edu,3887,3887,3887,3887,3887,3887,3887,3887,3887,3887,3887,0,0,3887,3887,3887
jcrosb3@g.clemson.edu,968,968,967,968,968,968,968,968,968,968,968,0,0,968,968,968
mkollur@g.clemson.edu,3205,3205,3205,3205,3205,3205,3205,3205,3205,3205,3205,0,0,3205,3205,3205

### Assign final labels

In [4]:
#Function that takes in a a csv file name which is the data frame
#Assigns the Final labels 
def final_label (csvfilename):
    df = pd.read_csv(csvfilename)
    df = replace_data(df)

    df.sort_values(by=['DataRow ID'])


    # indices of labels: 0 = NA, 1 = TC, 2 = STC, 3 = IDK, 4= STF, 5 = TF
    styles = {
        "IDK" : 0,
        "NA" : 1,
        "STC": 2,
        "STF": 3,
        "TC" : 4,
        "TF":5
    }

    # labels[0] is the label, label[1] is the count, label[2] is the most authoritative selection
    labels = [["IDK", 0, "z"],["NA", 0, "z"],["STC", 0, "z"],["STF", 0, "z"],["TC", 0, "z"],["TF", 0, "z"]] 
    next_id = ""
    #add column for final label
    df["Final Label"] = ""

    for i in range(len(df.index)):
        label = df.iloc[i, 4]
        person = df.iloc[i, 5]
        curr_id = df.iloc[i, 2]
        next_id = "" if i >= len(df.index)-1 else df.iloc[i+1, 2]
        agreement = df.iloc[i,11]


        if label == "Skip" or label == "{}":
            continue
        else:
            labels[styles[label]][1] += 1

        #keeps track of the "lowest" person, to find most authoritative
        if person < labels[styles[label]][2] or labels[styles[label]][2] == "z":
            labels[styles[label]][2] = person


        if curr_id != next_id :
            labels.sort(key=itemgetter(1), reverse=True)
            if(labels[0][1] == labels[1][1]):

                labels.sort(key = itemgetter(2))


            df.iloc[i,18] = labels[0][0]         

            for j in labels:
                j[1] = 0
                j[2] = "z"
            #the below works because this whole cell of code depends on the sorting IDK < NA < TC < TF
            labels.sort(key=itemgetter(0))
    return df

In [5]:
df = final_label (r"../data/raw_labelbox_exports/March-30-2020-rawexport.csv")
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label,Final Label
0,0,ck6ttudfqsnyx0911dud576zq,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,IDK,b,Career - Fall 2019 All Labels,1582147621000,1585094615000,16.004,2102_1,0.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,
1,1,ck7c2z14254ju08668spq3t3j,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,NA,d,Career - Fall 2019 All Labels,1583251346000,1585094615000,5.465,2102_1,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,
2,2,ck86keo4zzzyr0826lq299w6k,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,NA,c,Career - Fall 2019 All Labels,1585094614000,1585094615000,23.192,2102_1,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
3,3,ck6pjwa22oir50883kfgbxq6y,ck0zz5oqmotlh0bo44g3obmzn,Working with Watt Center and other entities on...,NA,b,Career - Fall 2019 All Labels,1581889049000,1583210042000,4.479,2100_0,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,
4,4,ck7bedqtjch960768d2de6azp,ck0zz5oqmotlh0bo44g3obmzn,Working with Watt Center and other entities on...,NA,d,Career - Fall 2019 All Labels,1583210042000,1583210042000,7.872,2100_0,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,

In [6]:
df.loc[:,"Labeled Data"] = df.loc[:,"Labeled Data"].str.replace('"', "")
df["Final Label"].replace("", np.nan, inplace=True)
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label,Final Label
0,0,ck6ttudfqsnyx0911dud576zq,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,IDK,b,Career - Fall 2019 All Labels,1582147621000,1585094615000,16.004,2102_1,0.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NaN
1,1,ck7c2z14254ju08668spq3t3j,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,NA,d,Career - Fall 2019 All Labels,1583251346000,1585094615000,5.465,2102_1,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NaN
2,2,ck86keo4zzzyr0826lq299w6k,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,NA,c,Career - Fall 2019 All Labels,1585094614000,1585094615000,23.192,2102_1,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
3,3,ck6pjwa22oir50883kfgbxq6y,ck0zz5oqmotlh0bo44g3obmzn,Working with Watt Center and other entities on...,NA,b,Career - Fall 2019 All Labels,1581889049000,1583210042000,4.479,2100_0,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NaN
4,4,ck7bedqtjch960768d2de6azp,ck0zz5oqmotlh0bo44g3obmzn,Working with Watt Center and other entities on...,NA,d,Career - Fall 2019 All Labels,1583210042000,1583210042000,7.872,2100_0,1.0,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NaN

In [7]:
df = df.dropna(subset=['Final Label'], axis=0).reset_index(drop=True)
df = df.drop_duplicates(subset=['Labeled Data'],keep = 'first')
df.head()

,index,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label,Final Label
0,2,ck86keo4zzzyr0826lq299w6k,ck0zz5oqmotlk0bo4b7g76ubv,We found the best way to organize the plots us...,NA,c,Career - Fall 2019 All Labels,1585094614000,1585094615000,23.192,2102_1,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
1,5,ck7euqwmgesg60918u8memkdi,ck0zz5oqmotlh0bo44g3obmzn,Working with Watt Center and other entities on...,NA,c,Career - Fall 2019 All Labels,1583418929000,1583418929000,9.259,2100_0,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,NA
2,8,ck74wd7e70w8d09759pt0bfuv,ck0zz5oqmotle0bo4db99g4kv,"Working with the career palm tree, I led group...",TF,e,Career - Fall 2019 All Labels,1582816987000,1582817017000,33.544,2098_0,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,TF
3,9,ck8dwp106ojv20983uhbentbn,ck0zz5oqmotlc0bo493xp5380,"Working with other college students, I got an ...",STC,d,Career - Fall 2019 All Labels,1585538516000,1585538516000,151.093,2096_0,NaN,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,STC
4,12,ck73r88ccj5ge0975rngcmmmp,ck0zz5oqmotlb0bo4fcxjcnd8,I motivated her to reach out to the University...,TF,c,Career - Fall 2019 All Labels,1582747890000,1582747891000,57.700,2095_2,0.5,NaN,NaN,NaN,Student,[],https://image-segmentation-v4.labelbox.com?pro...,TF

In [8]:
df_clean = df.loc[:,['Labeled Data','Final Label', 'Dataset Name']]
df_clean.to_csv(r"../data/data_for_model/April-20-F2020-CLEAN.csv", index=False, quoting = csv.QUOTE_NONNUMERIC)